.App {
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: darkgoldenrod;
}

.checkFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 200px;
  height: 120px;
  background-color: darkolivegreen;
}